<?xml version="1.0"?>
<appSettings>
  <add key="MongoDbConnectionString" value="mongodb://hasangedik:5ieRT7L86asvtoav@testapps-shard-00-00-ucayp.mongodb.net:27017,testapps-shard-00-01-ucayp.mongodb.net:27017,testapps-shard-00-02-ucayp.mongodb.net:27017/AuditLog?ssl=true&amp;replicaSet=TestApps-shard-0&amp;authSource=admin"/>

  <add key="NotificationSenderIntervalMin" value="5"/>
  <add key="NotificationFromMail" value="591e3c9a0d-45b77a@inbox.mailtrap.io"/>
  <add key="NotificationSmtpPort" value="2525"/>
  <add key="NotificationSmtpUsername" value="84936f7cf750bc"/>
  <add key="NotificationSmtpPassword" value="c90fd8b5f6afa3"/>
  <add key="NotificationSmtpHost" value="smtp.mailtrap.io"/>
  <add key="NotificationMailSubject" value="To Do List App - Notification"/>
</appSettings>