<log4net>
 <appender name="GeneralLog" type="log4net.Appender.RollingFileAppender">
    <file value="../logs/Api/general.txt"/>
    <appendToFile value="true"/>
    <maximumFileSize value="100KB"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd MMM yyyy HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>

  <!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->
  <root>
    <level value="ERROR"/>
    <appender-ref ref="GeneralLog"/>
  </root>
</log4net>